<div class="bg-pink-500 md:px-32 mt-10 pb-5">
    <div class="flex flex-col items-center md:justify-between md:flex-row mb-5 relative pt-5">
        <div class="">
            <img src="assets/bigoodee.svg" alt="" class="w-48">
        </div>
        <div class="md:hidden absolute top-44 border-t-2 border-white w-64"></div>
        <div class="flex flex-col items-center space-y-5">
            <div class="text-white text-lg">Rejoins-nous</div>
            <div class="flex space-x-4">
                <div class="cursor-pointer">
                    <img src="assets/fb.svg" alt="" class="">
                </div>
                <div class="cursor-pointer">
                    <img src="assets/insta.svg" alt="">
                </div>
            </div>
            <div class="text-center text-white text-lg">
                <div class=""><span class="font-medium">Decouvrez et reservez</span> la coiffeuse</div>
                <div class="">qui vous correspond, en quelques clics !</div>
            </div>
        </div>
    </div> 
    <div class="text-gray-300 text-center">© Bigoodee 2021 tous droits réservés.</div>
</div>