<div class="px-5 md:px-10 space-y-5">
    <div class="text-2xl text-pink-500">Comment faire des crochets braids</div>
    <div class="grid grid-cols-1 items-center">
        <div class="flex justify-center">
            <img src="assets/crochets-braids.svg" alt="" class="">
        </div>
        <div class="">Les crochet braids sont des coiffures protectrices qui permettent de changer de look autant qu'on le veut. Aujourd'hui, le crochet braids a plusieurs variantes : tu peux faire du bouclé, du Afro, du lisse ou encore des twists ou des box braids.</div>
    </div>
    <div class="">
        <div class="text-black font-semibold mb-5">1. Le matériel nécessaire</div>
        <div class="">
            <div class="">- Un crochet,</div>
            <div class="">- 4 à 5 paquets de mèches (comme des Afro Kinky Bulk ou des Jerry Curls.). Si tu veux faire des box braid ou des twists, il te faudra 6 à 8 paquets.</div>
            <div class="">- De la pommade ou crème pour hydrater tes cheveux,</div>
            <div class="">- Un peigne à grosse dents pour démêler tes cheveux et tracer les sections pour les tresses collées.</div>
            <div class="">- Du fil et une grosse aiguille pour tout fixer.</div>
            <div class="">- Une fois que tu as tout ça en ta possession. le show peut commencer ! C'est parti pour le crochet braids.</div>
        </div>
    </div>
    <div class="">
        <div class="text-black font-semibold mb-5">2. Les tresses "collées"</div>
        <div class="">
            <p class="">Tout d'abord, commencez par mettre une noisette de pommade ou de crème dans vos cheveux. Pensez à tout répartir de manière uniforme. Ensuite démêlez vos cheveux délicatement.</p>
            <div class="">
                <div class="">Une fois cette étape passée, sépare tes cheveux en plusieurs sections pour créer tes tresses. Il ne reste plus qu'à faire tes tresses collées en fonction de tes sections. Tu peux t'inspirer de la photo. Pour donner un look plus naturel à ta coiffure en laissant tes cheveux de devant dehors*, mais ce n'est pas obligatoire.</div>
                <div class="">Fixer les nattes à l'aide de l'aiguille et du fil.</div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="text-black font-semibold mb-5">3. La pose</div>
        <div class="">Une fois que plus rien ne bouge. tu peux commencer à poser les mèches. Pour cela, passe le crochet sous la tresse pour que la partie métallique se retrouve de l'autre côté.</div>
    </div>
</div>
