<div class="px-5 space-y-5 md:px-10">
    <div class="text-pink-500 text-2xl whitespace-nowrap">Comment faire des bantu knots</div>
    <div class="md:grid grid-cols-2 items-center xl:-space-x-44">
        <div class="grid grid-cols-2 items-center">
            <div class="">
                <img src="assets/bantu-knots.svg" alt="bantu knots" class="w-64 h-64">
            </div>
            <div class="md:hidden">Héritées de nos ancêtres, les Bantu Knots sont des coiffures protectrices, faciles à réaliser et très originales. </div>
        </div>
        <div class="hidden md:block">
            <p class="">Héritées de nos ancêtres, les Bantu Knots sont des coiffures protectrices, faciles à réaliser et très originales. Elles ont été remises au goût du jour il y a plusieurs années par des célébrités comme Rihanna.</p>
            <p class="">C'est une coiffure originale qui permet la protection des cheveux contre les agressions de l'environnement par exemple.</p>
        </div>
    </div>
    <div class="md:hidden">
        <div class="">Elles ont été remises au goût du jour il y a plusieurs années par des célébrités comme Rihanna.</div>
        <div class="">C'est une coiffure originale qui permet la protection des cheveux contre les agressions de l'environnement par exemple.</div>
    </div>
    <div class="">
        <div class="font-semibold text-black mb-5">Séparez vos cheveux en parties égales</div>
        <div class="">Utilises la même méthode que si tu voulais appliquer un de tes soins capillaires. Si tu as les cheveux longs tu auras besoin de moins de sections.</div>
    </div>
    <div class="">
        <div class="font-semibold text-black mb-5">Attention ! Pensez à bien hydrater.</div>
        <div class="">
            <div class="">L'hydratation aura pour effet d'avoir des cheveux plus flexibles, ce qui aidera à avoir la forme du nœud.</div>
            <div class="">Tu peux utiliser un simple spray d'eau ou un mélange eau + quelques gouttes d'huiles végétales/essentielles!</div>
            <div class="">Les cheveux doivent être seulement humides, pas mouillés.</div>
        </div>
    </div>
    <div class="">
        <div class="font-semibold text-black mb-5">Comment coiffer les nœuds bantous ?</div>
        <div class="">
            <p class="">Après avoir lavé vos cheveux, séparez-les en plusieurs sections. Hydratez. puis peignez délicatement chaque section avec votre pinceau. Après avoir peigné et attaché chaque section, séparez chaque section en fonction de la quantité de nœuds bantous que vous souhaitez dans chacune.</p>
            <p class="">En utilisant la technique des «mains en prière», appliquez tous vos produits un parun à chaque section. Après avoir appliqué vos produits, peignez délicatement et soigneusement vos petites sections de cheveux.</p>
            <p class="">À l'aide de votre cravate, attachez fermement l'une de vos plus petites sections en créant une queue-de-cheval. Ensuite, séparez cette queue-de-cheval en deux une fois qu'elle est solidement attachée à la cravate. Une fois que vous avez vos deux mèches de cheveux entre les mains, commencez une torsion à deux brins. (Certaines personnes créent une tresse pour un motif de boucle différent.</p>
            <p class="">Après avoir tordu les deux brins ensemble, prenez la torsion entière et tournez-la en un nœud dans le sens de l'horloge. Pour sécuriser votre nœud, vous pouvez utiliser une épingle à cheveux ou le glisser sous le nœud Voilà les filles, j'éspère</p>
        </div>
    </div>
</div>
