<div class="px-5 md:px-10 space-y-5">
    <div class="text-pink-500 text-2xl">Comment faire des senegalese twist</div>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center xl:-space-x-44">
        <div class="">
            <img src="assets/senegalese-twist.svg" alt="senegalese-twist" class="w-64 h-64">
        </div>
        <div class="">
            <div class="">Les senegalese twist représentent une coiffure parfaite pour protéger les cheveux texturés. Elles se réalisent quasi de la même façon que des braids basics/ Très tendance. cette coupe peut être réalisée avec des extensions ou non et est plus facile à faire que les tresses africaines par exemple.</div>
            <div class="">Elle peut être faite par vous-même avec un bon entrainement et les bons ustensiles Il vous faudra</div>
            <div class="">entre 5 et 6h pour la faire et peut être gardée entre 2 et 3 mois si vous les entretenez bien.</div>
        </div>
    </div>
    <div class="">
        <div class="font-semibold text-black mb-5">Préparez vos cheveux :</div>
        <div class="">
            <div class="">Choisissez un type d'extension.</div>
            <div class="">Déterminez la taille de vos cheveux, minimum 2 cm pour réaliser cette coupe.</div>
            <div class="">Choisissez le type d'extension que vous souhaitez. Pour une longueur moyenne, il vous faudra 3 ou 4 paquets d'extensions.</div>
        </div>
    </div>
    <div class="">
        <div class="font-semibold text-black mb-5">Préparer les extensions.</div>
        <div class="">
            <div class="">Si les cheveux sont entrelacés, séparez-les en frottant délicatement entres vos doigts.</div>
            <div class="">Choisissez l'épaisseur selon la taille des tresses souhaitées. Ensuite. pliez chaque section en deux pour former un U. Vous l'attacherez à vos vrais cheveux au niveau du pli et les deux moitiés serviront à réaliser une tresse.</div>
            <div class="">4 Préparez vos cheveux.</div>
            <div class="">Il faut qu'ils soient lavés avec vos produits habituels, démêlés. Puis, laissez-les sécher naturellement ou utilisez un sèche-cheveu (chaleur basse) et une brosse ronde à poils naturels. Cela permettra de lisser vos cheveux avant le tressage.</div>
            <div class="">Attention. n'appliquez pas d'huile ! Il ne faut pas qu'ils soient glissants. Seul le protecteur de chaleur avant le séchage est autorisé.</div>
        </div>
    </div>
    <div class="">
        <div class="font-semibold text-black mb-5">
            <div class="">REALISER LES SENEGALESE TWIST</div>
            <div class="">Divisez en plusieurs parties</div>
        </div>
        <div class="">
            <div class="">Divisez vos cheveux en quatre. Divisez de nouveau ces quatre parties en quatre.</div>
            <div class="">Chaque partie obtenue doit avoir une largeur de 2 cm maximum. Démêlez-les.</div>
        </div>
    </div>
    <div class="">
        <div class="font-semibold text-black mb-5">Entortillez les mèches sur elles-mêmes.</div>
        <div class="">
            <div class="">Prenez votre mèche à environ 2 à 4 cm de votre cuir chevelu. Entortillez-la.</div>
            <div class="">Commencez jusqu'à ce que les tortillons commencent à s'enrouler sur eux-mêmes en spirale.</div>
        </div>
    </div>
    <div class="">
        <div class="font-semibold text-black mb-5">Ajoutez une extension.</div>
        <div class="">
            <div class="">Prenez les extensions et vos cheveux naturels en même temps et entortillez-les ensemble jusqu'à ce que vous commenciez à obtenir une spirale.</div>
            <div class="">Fixez les pointes. Fixez-les dans de l'eau bouillante pour que les tresses sénégalaises tiennent longtemps, de la même façon que pour les braids. Une fois qu'elles sont séchées, appliquez de l'huile d'olive ou de l'huile de ricin pour garder l'hydratation.</div>
        </div>
    </div>
</div>
