<div class="px-5 md:px-10 space-y-5">
    <div class="text-pink-500 text-2xl whitespace-nowrap">Comment faire des cornrows</div>
    <div class="flex flex-col">
        <div class="flex justify-center">
            <img src="assets/cornrows.svg" alt="cornrows" class="w-64 h-64">
        </div>
        <div class="">Les cornrows, est une tendance forte cette année. Initialement portées par les Africaines, ces tresses subliment aujourd'hui le look de toutes les célébrités comme Rita Ora ou Rihanna. On peut les réaliser sur des cheveux mi-longs à longs et peu importe leur nature, cette coiffure convient à toutes.</div>
    </div>
    <div class="">
        <div class="text-black font-semibold mb-5">Démêler les cheveux</div>
        <div class="">
            <div class="">Pour que la coiffure soit facilement réalisable en ayant un effet uniforme, il est indispensable de bien démêler les cheveux. Il est conseillé d'utiliser une brosse démêlante à picots puis un peigne large pour vérifier qu'aucun nœud ne subsiste.</div>
            <div class="">Les tresses cornrows peuvent être réalisées à partir de cheveux humides pour une meilleur prise en main, mais il est aussi possible de démarrer la coiffure sur cheveux secs.</div>
        </div>
    </div>
    <div class="">
        <div class="text-black font-semibold mb-5">Tracer des démarcations pour tresser les cornrows</div>
        <div class="">
            <div class="">Avant de commencer la coiffure on peux séparer les différentes sections de cheveux pour ne pas les mélanger.</div>
            <div class="">La tendance est à la double cornrow, avec deux tresses imposantes, mais il est aussi possible de varier la coiffure en multipliant les séparations pour obtenir le nombre de tresses souhaitées, l'idée est toujours de retrouver une ou plusieurs tresses plaquées.</div>
        </div>
    </div>
    <div class="">
        <div class="text-black font-semibold mb-5">Réalisation des cornrows</div>
        <div class="">
            <div class="">Prendre une mèche sur le côté ou sur le haut du crâne : ce premier choix va déterminer la direction de toute votre tresse.</div>
            <div class="">Diviser la mèche en trois parties égales et réaliser une tresse par-dessous c'est ce qui donne cet effet de relief à votre coiffure.</div>
            <div class="">Continuer la tresse en récupérant des mèches à gauche et à droite à ramener systématiquement au milieu pour que la natte soit bien plaquée.</div>
        </div>
    </div>
    <div class="">
        <div class="text-black font-semibold mb-5">Comment entretenir des cornrows ?</div>
        <div class="">L'entretien des cornrows est le même que pour des tresses classiques.</div>
    </div>
</div>
