<div class="px-5 md:px-10 space-y-5">
    <div class="text-pink-500 text-2xl">Comment faire des vanilles</div>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center h-full">
        <div class="" style="line-height: 20px;">
            Les vanilles sont un style de coiffure plébiscité chez les femmes afro et métissés. Appelé aussi twist en anglais. celles-ci se présente sous la forme de tresses entortillés qui s'enroulent sur eux-mêmes. Elles ne présentent pas simplement un avantage esthétique, mais demeure aussi une coiffure qui a la vocation de protéger les cheveux (coiffure protectrice). Elles protègent les pointes et réduisent les frottements.
        </div>
        <div class="">
            <img src="assets/photo2.svg" alt="" class="w-64 h-52">
        </div>
    </div>
    <div class="">
        <div class="mb-5 text-black font-semibold">La préparation</div>
        <div>Avant de commencer à vous faire coiffer des vanilles. pensez à préparer votre chevelure. Cette étape est nécessaire et primordiale si vous souhaitez gagner du temps sur le temps de coiffage et si vous souhaitez que vos vanilles tiennent plus longtemps.</div>
        <div>Pour commencer, il faut faire un shampoing au préalable. ensuite pensez appliquer du beurre ou de la pommade pour nourrir et protéger vos cheveux.</div>
        <div>Ensuite, séparer vos cheveux en 2 ou 4 sections et attachez chacune des séparations</div>
        <div>par une pince.</div>
    </div>
    <div class="">
        <div>Nécessaire avant de commencer la coiffure :</div>
        <ul>
            <li>4 à 7 paquets de mèches, du type Xpression ou mèches pour vanilles un peu plus épaisse.</li>
            <li>1 peigne</li>
            <li>1 beurre ou une pommade</li>
            <li>Des pinces à cheveux</li>
        </ul>
    </div>
    <div>
        <div class="mb-5 text-black font-semibold">Faire les vanilles</div>
        <div>
            <div>Commencer par tracer votre chevelure, par un tracer rond, triangulaire ou carré.</div>
            <div>Celui-ci vous permettra de pouvoir déterminer l'épaisseur de vos vanilles, car vous</div>
            <div>pouvez faire des vanilles plus grosses ou plus fines en fonction du traçage que vous</div>
            <div>avez réaliser en amont.</div>
            <div>Faire passer un premier brin au-dessus du second, puis un second brin par dessus le</div>
            <div>premier, et répétez l'opération sur toute la longueur en alternant.</div>
            <div>Attention à ne pas trop serrer, surtout au niveau des tempes.</div>
            <div>Recommencez l'opération avec une autre mèche de cheveux, puis continuez jusqu'à</div>
            <div>avoir fait toute la tête. Plus vos vanilles seront fines, plus elles tiendront le plus</div>
            <div>longtemps</div>
        </div>
    </div>
    <div class="">
        <div class="mb-5 text-black font-semibold">Comment protéger les vanilles ?</div>
        <div class=""> Plus vous réussirez à protéger vos vanilles, plus vous réussirez à les garder plus longtemps.La nuit, avec le risque de frottement sur l'oreiller, vos vanilles risquent de se défaire rapidement. Pour les protégez, recouvrez-les avec un foulard en satin ou en soie. Si vous devez faire un shampoing, réalisez de grosses nattes avec vos vanilles avant de les mouiller.</div>
    </div>
</div>
