<div class="w-full">
    <div class="relative">
        <div class="w-full md:flex justify-center">
            <img src="assets/home_image.svg" alt="" class="w-full">
        </div>
        <div class="absolute bottom-2 px-5 md:left-5 md:text-2xl text-pink-500">Découvrez dans notre guide, tous les conseils pour trouver la prestation qui vous correspond, ainsi que tout ce qu’il y’a à savoir concernant les cheveux BFC.</div>
    </div>
    <div class="mt-5 px-5">
        <div>Connus pour être très difficiles à entretenir, les cheveux texturés (crépus. bouclés, frisés) ont longtemps été délaissés.</div>
        <div>Cependant, on remarque un grand intérêt pour le retour au naturel ces dernières années, et clairement, ça change la donne !</div>
        <div>Qu'on assume nos cheveux au naturel ou non, très souvent, on aime aussi changer de look de temps en temps. Tresses, lissages, couleurs... Tout est possible !</div>
        <div>Attention à ne surtout pas oublier de prendre bien soin de vos cheveux après ces périodes de craquages capillaires.</div>
        <div>Ils auront besoin d'être nourris, hydratés, pour qu'ils soient plus forts, plus brillants et en pleine santé.</div>
        <div>Besoin d'inspiration pour une nouvelle coiffure au top ? On est allé voir du côté des stars, des coiffeurs, et des tendances du moment pour vous dénicher quelques idées. A vous de choisir!</div>
    </div>
    <div class="flex justify-center my-10" style="font-family: Cocogoose Pro;">
        <img src="assets/text.svg" alt="" class="w-64">
    </div>
</div>
