<div class="px-5 md:px-10 space-y-5">
    <div class="text-pink-500 text-2xl">Comment faire des braids</div>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center xl:-space-x-36">
        <div class="">
            <img src="assets/braids.svg" alt="" class="w-64 h-64">
        </div>
        <div class="">
            <div class="mb-5 font-semibold text-black">Comment faire des braids?</div>
            <div class="">

                Avant de se décider à porter des braids. il faut déjà savoir comment les réaliser : en salon, ou à tresser soi-même faudra en moyenne débourser une cinquantaine d'euros pour se faire coiffer des box braids dans les salons spécialisés, surtout si l'on souhaite porter des rajouts de mèches.
                Si on a le coup de main, on peut se tresser les cheveux soi-même mais il faudra
                s'armer de patience puisque cette coiffure est très longue à réaliser : 5h sur cheveux
                courts, et plus de 10h sur cheveux longs !</div>
        </div>
    </div>
    <div class="">
        <div class="mb-5 font-semibold text-black">Bien hydrater ses cheveux, même tressés</div>
        <div class="">L'avantage de cette coiffure : elle tient entre 3 à 4 semaines en fonction du type de cheveux. Attention. cela ne veut pas dire qu'il faut négliger l'entretien de ses cheveux. Si les shampoings peuvent être plus espacés (un seul par semaine suffit). il faut penser à bien hydrater ses longueurs à l'aide d'huiles ou de produits capillaires adaptés afin de prévenir toute casse liée au tressage, notamment si les cheveux sont naturellement secs.</div>
    </div>
    <div class="space-y-5">
        <div class=" text-black font-semibold">Comment coiffer ses braids?</div>
        <div class="">Ramenées en queue-de-cheval basse ou haute, en chignon serré ou plus flou, ou encore en demi-queue, les box braids peuvent être coiffées de plusieurs façons différentes. Pour aller travailler, on peut les porter détachées pour qu'elles tombent librement sur nos épaules. </div>
        <div class="grid grid-cols-1 md:grid-cols-2 items-center">
            <div class="">
                <p>Pour un repas de famille ou pour les fêtes, on peut les tresser comme Beyoncé, pour une coupe XXL du plus bel effet. ou les porter en chignon bas comme Eva Marcille, pour apporter un côté plus sophistiqué à sa coiffure.</p>
                <p>On peut également accessoiriser sa coiffure avec un foulard porté façon bandana, des bijoux pour cheveux que l'on fixe individuellement à une tresse, ou de jolies pinces à cheveux que l'on peut utiliser pour apporter un peu de fantaisie à sa coiffure.</p>
                <p>Celles qui n'ont pas froid aux yeux peuvent même opter pour des extensions colorées, aux couleurs originales.</p>
            </div>
            <div class="">
                <img src="assets/braids2.svg" alt="" class="w-64 h-64">
            </div>
        </div>
    </div>
</div>
