<div class="px-5 md:px-10 space-y-5">
    <div class="text-pink-500 text-2xl whitespace-nowrap">Comment faire des fulani braids</div>
    <div class="grid grid-cols-1 md:grid-cols-2 items-center xl:-space-x-44">
        <div class="">
            <img src="assets/fulani-braids.svg" alt="" class="w-64 h-64">
        </div>
        <div class="">
            <div class="">"Fulani braids" est un terme anglais qui veut dire « tresses peuls »</div>
            <div class="">Originaire d'Afrique de l'ouest, cette inspiration coiffure a beau connaître un franc succès, elle remonte pourtant à plusieurs centaine d'années.</div>
            <div class="">Alicia Keys, on l'a connu pour son titre "fallin" mais aussi pour ses magnifiques tresses peulhs qu'elle portait dans les années 2000. Ces tresses peulhs ou fulani braids, c'est la tendance tresse far chez les people!</div>
        </div>
    </div>
    <div class="">
        <div class="mb-5">
            <div class="">Les tresses Peulh se caractérisent par des nattes couchées et des tresses où sont accrochées des perles</div>
            <div class="">Cette coiffure se caractérise par des nattes plus plaquées qui se terminent par des tresses au bout duquel sont accrochées des perles.</div>
        </div>
        <p class="">Vous pouvez les porter sous divers styles, privilégiez les nattes de taille moyenne plutôt que des nattes fines au risque de fatiguer votre cuir chevelu et de perdre vos baby hair.</p>
    </div>
</div>
