<div class="px-5 space-y-5 md:px-10">
    <div class="text-pink-500 text-2xl whitespace-nowra">Comment faire des fausses locks</div>
    <div class="md:grid grid-cols-2 items-center xl:-space-x-44 flex flex-col">
        <div class="grid grid-cols-2 items-center">
            <div class="">
                <img src="assets/fausses-locks.svg" alt="fausses locks" class="w-64 h-64">
            </div>
            <div class="md:hidden">La première étape est le nettoyage des cheveux avec un bain d'huile, un shampooing et un masque.</div>
        </div>
        <div class="">
            <div class="md:hidden">Conseil : Faites vos soins profonds une journée avant de faire la coiffure. Une fois vos cheveux secs et nourris, commencez par faire des tresses ou twists sur l'ensemble de la chevelure. Elles doivent être assez fines pour un rendu naturel.</div>
            <div class="hidden md:block">
                <div class="">La première étape est le nettoyage des cheveux avec un bain d'huile, un shampooing et un masque.</div>
                <div class="">Conseil : Faites vos soins profonds une journée avant de faire la coiffure. Une fois vos cheveux secs et nourris, commencez par faire des tresses ou twists sur l'ensemble de la chevelure. Elles doivent être assez fines pour un rendu naturel.</div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="">Ensuite, avec la mèche ou la laine (100 % acrylique de préférence). vous devez cacher la tresse en partant de la racine vers la pointe. Pensez à bien nettoyer les mèches ou la laine pour éliminer au maximum les résidus chimiques. Vous pouvez rajouter des extensions pour avoir des fausses locks plus longues.</div>
        <div class="">Pour ce faire, rallongez vos locks en ajoutant une mèche en faisant un nœud à la fin de la première mèche ou en alternant l'enroulage avec votre mèche précédente.</div>
        <div class="">Au niveau des pointes, procède de la même façon, mais en remontant vers la racine, pour fixer le bout de la locks. Brûler légèrement le bout pour que la locks ne se défasse pas.</div>
        <div class="">Pour réaliser des fausses locks, il faut au minimum 5 cm de longueur de cheveux.</div>
    </div>
    <div class="">
        <div class="text-black font-semibold mb-5">Comment entretenir ses fausses locks ?</div>
        <div class="">
            <p class="">Les fausses locks peuvent se garder très longtemps. jusqu'à 4 semaines, à condition de bien les entretenir en leur apportant des soins adaptés. L'hydratation et l'hygiène sont les deux choses les plus importantes afin que vos fausses locks tiennent longtemps.</p>
            <p class="">Utilisez quotidiennement une huile végétale pour nourrir en profondeur votre chevelure. À l'aide d'un vaporisateur, mélangez de l'eau et de l'huile et appliquez-en sur vos cheveux. N'hésitez pas à en vaporiser sur la longueur pour donner de la brillance à vos mèches.</p>
            <div class="">
                <div class="">Faites-vous un shampoing une fois par semaine pour éviter que vos cheveux retiennent la saleté et la poussière. Une fois par mois, exfoliez votre cuir chevelu en utilisant un gommage fait maison (shampoing avec bicarbonate de soude par exemple) ou non.</div>
                <div class="">Quand vous dormez, rassembler vos tresses et mettez un foulard sur la tête pour</div>
                <div class="">éviter l'usure des cheveux au niveau des racines.</div>
            </div>
        </div>
    </div>
    <div class="">
        <div class=""><span class="text-black font-semibold">Erreur à ne pas faire :</span> évitez de trop serrer et tirer lorsque vous réalisez un chignon ou une queue-de-cheval.</div>
    </div>
</div>
