<div class="md:px-10 px-5 space-y-5">
    <div class="text-pink-500 text-2xl">Comment faire des tresses africaines</div>
    <div class="grid grid-cols-1 md:grid-cols-2 md:-space-x-0 gap-2 items-center">
        <div class="">
            <img src="assets/photo.svg" alt="">
        </div>
        <div class="">
            <div>De nos jours l'appellation de "tresse africaine" désigne aussi bien les toutes petites tresses qui couvrent l'ensemble de la tête que la tresse qui part du dessus de la tête et permet demaintenir en arrière toutes les mèches.</div>
            <div>Les tresses sont une coiffure typique des femmes africaines qui consiste à entrelacer des mèches entre elles afin de donner un aspect de tressage aux cheveux.</div>
            <div>Celles-ci se caractérise par une réalisation partant du haut du crâne et descendant le long du cou.</div>
            <div>Il existe multitude de types de tresses africaines, car il est tout à fait possible de revisiter ses tresses afin de leur donner un style plus original ou sophistiqué.</div>
            <div>En effet il est tout à fait possible de se faire des tresses avec ses propres cheveux et des tresses avec des extensions de cheveux appelés aussi rajouts.</div>
        </div>
    </div>
    <div class="">
        <div class="mb-5 text-gray-900 font-semibold">Les tresses sans rajouts</div>
        <div class="">La tresse classique ou tresse de base est un coiffage très simple. Le processus est très simple que vous n'avez pas besoin d'aller chez votre coiffure pour a realiser Vous devez donc comprendre le principe de base pour pouvoir vous lancer dans cet art. La réalisation d'une tresse africaine commence par la préparation des cheveux. Il faut en effet les peigner soigneusement pour les démêler. Tous les nœuds doivent être éliminés pour faciliter le tressage. Le tressage peut se faire sur cheveux secs et mouillés.</div>
    </div>
</div>
